<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_Mineware_Connection" connectionString="XpoProvider=MSSqlServer;data source=10.148.225.119\IM_MTS;user id=mineware;password=corialanus;initial catalog=Mineware;Persist Security Info=true" />
    </connectionStrings>
</configuration>